body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.clock {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
  border: 1px solid;
}
.clock .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center -120px; /* 반지름 길이 */
}
.clock .number:nth-child(1) { transform: rotate(0deg) translateY(-120px) rotate(0deg); }
.clock .number:nth-child(2) { transform: rotate(30deg) translateY(-120px) rotate(-30deg); }
.clock .number:nth-child(3) { transform: rotate(60deg) translateY(-120px) rotate(-60deg); }
